.welcomeHeader {
  color: yellow;
}

.btn-hero {
  background-color: palevioletred;
  width: 50%;
  align-items: center;  
}

.btn-hero:hover {
  background-color: yellowgreen;
  color: white; 
}

.mint-button {
  background-color: palevioletred;
  align-items: center;  
}

.mint-button:hover {
  background-color: yellowgreen;
  color: white; 
}

.vote-button {
  background-color: palevioletred;  
}

.vote-button:hover {
  background-color: palegreen;
  color: yellowgreen;
}

